<%= render "shared/header" %>

<div class ='title-blank'></div>
<div class='partation-line'></div>
<div class="contents-row">
  <p class='user-name'><%= @user.nickname %>さんのマイページ</p>
  <div class='like-event-contents'>
  <h2 class='title'>like events</h2>
    <% if @favorite_list.present? %>
      <ul class='like-lists'>
        <% @favorite_list.each do |event| %>
          <li class='list'>
            <%= link_to event_path(event.id) do %>
              <div class='event-img-content'>
                <%= image_tag event.image, class: "event-img" %>
              </div>
              <div class='event-info'>
                <h3 class='event-name'>
                  <%= event.event_name %>
                </h3>
                <div class='event-date'>
                  <span><%= event.date %></span>
                </div>
                <div class='event-prefecture'>
                  <span><%= event.prefecture.name %></span>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class='favorite-event-none'>
          お気に入りイベントはありません
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
