<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の帯部分 %>
  <div class ='title-blank'>
  </div>
  <div class='title-picture'>
    <div class='title-contents'>
      <h1 class='service-title'>
        さあ、フェスに行こう。
      </h1>
      <p class='service-explain'>
        Fes + Preparation = Fesparation!
      </p>
      <p class='service-explain'>
        音楽フェス専門の予習アプリです。
      </p>
    </div>
  </div>
  <%# /画面上部の帯部分  %>

  <%# Fesparationの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      Fesparation! でできること
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "feature-search.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          全国のフェス情報をまとめて探せる！
        </h3>
        <p class='feature-list-description'>
          地域やジャンル、アーティストなど様々な条件で検索が可能です。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "feature-music.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          出演アーティストの予習ができる！
        </h3>
        <p class='feature-list-description'>
          出演アーティスト情報は随時更新！楽曲を試聴できるリンクも用意しています。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "feature-chatt.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          不安や疑問は質問で解消できる！
        </h3>
        <p class='feature-list-description'>
          コメント機能で質問や情報交換が自由にできます。
        </p>
        <p class='annotation'>
          ※コメント機能の利用には会員登録が必要です。
        </p>
      </li>
    </ul>
  </div>
  <%# /Fesparationの特徴 %>

  <div class='partition-line'></div>

  <%# 新着イベント部分 %>
  <div class='event-contents'>
    <h2 class='title'>NEW EVENTS</h2>
    <ul class='event-lists'>
    <% if @events.present?%>
      <% @events.each do |event|%>
        <li class='list'>
          <%= link_to event_path(event.id) do %>
            <div class='event-img-content'>
              <%= image_tag event.image, class: "event-img" %>
            </div>
            <div class='event-info'>
              <h3 class='event-name'>
                <%= event.event_name %>
              </h3>
              <div class='event-date'>
                <span><%= event.date %></span>
              </div>
              <div class='event-prefecture'>
                <span><%= event.prefecture.name %></span>
                  <div class='top-heart-btn'>
                    <%= image_tag "favorite.png", class:"top-heart-icon" %>
                  </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
    </ul>
    <%# //イベントのインスタンス変数になにか入っている場合、中身を新着順に3つまで展開する %>
    <%# 新着イベントがない場合は以下の文章が表示される %>
    <%# 新着イベントがある場合は表示されない %>
    <% unless @events.present?%>
      <div class='event-none'>
          新着イベントはありません
      </div>
    <% end %>
    <%# //新着イベントがある場合は表示されない %>
    <%# 新着イベントがない場合は以下の文章が表示される %>
    <div class='more-btn'>
      <a href="#">MORE</a>
    </div>
  </div>
  <%# /新着イベント部分 %>

    <div class='partition-line'></div>

  <%# イベント検索部分 %>
  <div class='event-search'>
    <h2 class='title'>SEARCH</h2>
      <div class='search-bar-contents'>
        <div class='search-text'>キーワードから探す</div>
        <form class="search-form" action="#">
          <input class='input-box' placeholder='イベント名、アーティスト名を入力'>
          <button class="search-button">
            <%= image_tag "search.png", class:"search-icon" %>
          </button>
        </form>
        <%# 新規イベント投稿機能の実装完了後に修正 %>
        <div class='search-text'>都道府県から探す</div>
        <form class="search-form" action="#">
          <input class='input-box' placeholder='プルダウンで実装予定'>
          <button class="search-button">
            <%= image_tag "search.png", class:"search-icon" %>
          </button>
        </form>
        <div class='search-text'>開催月から探す</div>
        <form class="search-form" action="#">
          <input class='input-box' placeholder='プルダウンで実装予定'>
          <button class="search-button">
            <%= image_tag "search.png", class:"search-icon" %>
          </button>
        </form>
        <%# 新規イベント投稿機能の実装完了後に修正 %>
      </div>
  </div>
  <%# /イベント検索部分 %>
  <a href='#' class="pagetop">PAGE TOP</a>
</div>
<% if user_signed_in? %>
  <%= link_to(new_event_path, class: 'newevent-btn') do %>
    <span class='newevent-btn-text'>New Post</span>
    <%= image_tag 'newevent.png' , size: '185x50' ,class: "newevent-btn-icon" %>
  <% end %>
<% end %>
<%= render "shared/footer" %>
