<%= render "shared/header" %>

<div class ='title-blank'></div>
<div class="contents-row">
  <div class='search-event-contents'>
    <h2 class='title'>search results</h2>
      <ul class='search-lists'>
        <% @events.each do |event| %>
          <li class='list'>
            <%= link_to event_path(event.id) do %>
              <div class='event-img-content'>
                <%= image_tag event.image, class: "event-img" %>
              </div>
              <div class='event-info'>
                <h3 class='event-name'>
                  <%= event.event_name %>
                </h3>
                <div class='event-date'>
                  <span><%= event.date %></span>
                </div>
                <div class='event-prefecture'>
                  <span><%= event.prefecture.name %></span>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
    <div class='event-search'>
      <div class='search-page-bar-contents'>
        <div class='search-text'>キーワードから探す</div>
        <%= form_with(url: search_events_path, local: true, method: :get, class: "search-form") do |form| %>
          <input class='input-box' placeholder='イベント名、アーティスト名を入力'>
          <button class="search-button">
            <%= image_tag "search.png", class:"search-icon" %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
