<%= render "shared/header" %>

<%# イベント概要 %>
<div class="event-show">
  <div class="event-box">
    <h2 class="name">
      <%= @event.event_name %>
    </h2>
    <div class="event-img-content">
      <%= image_tag @event.image ,class:"event-box-img" %>
    </div>

    <% if user_signed_in? && current_user.admin?%>
      <%= link_to "イベントの編集", edit_event_path, class: "event-edit-btn" %>
      <p class="or-text">or</p>
      <%= link_to "イベントの削除", event_path, method: :delete, class:"event-destroy",data: {confirm: "本当に削除しますか？"} %>
    <% end %>

    <div class="event-explain-box">
      <span><%= "about" %></span>
    </div>
    <div class='event-about'><%= @event.content %></div>
    <table class="detail-table">
      <tbody>
          <th class="detail-event">イベント開催地</th>
          <td class="detail-value"><%= @event.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-event">イベント開催日</th>
          <td class="detail-value"><%= @event.date %></td>
        </tr>
        <tr>
          <th class="detail-event">オフィシャルサイト</th>
          <td class="detail-value"><%= link_to "Official HP", @event.official_link %></td>
        </tr>
      </tbody>
    </table>
    <div class="event-link">
      <%= link_to image_tag("youtube-icon.png", class: "link-btn"), @event.youtube_link %>
      <%= link_to image_tag("insta-icon.png", class: "link-btn"), @event.instagram_link %>
      <%= link_to image_tag("twitter-icon.png", class: "link-btn"), @event.twitter_link %>
    </div>

  <%# お気に入り機能 %>
  <div id="event_<%= @event.id %>">
    <%= render 'event', event: @event %>
  </div>
  <%# /お気に入り機能 %>

  </div>
  <%# /イベント概要 %>

  <%# コメント機能 %>
  <div class="comment-box">
    <div class="event-explain-box">
      <span><%= "comments" %></span>
    </div>
    <div id="comments">
      <% @event.comments.each do |comment| %>
        <div class="comment">
          <p class="user-info"><%= comment.user.nickname %>： </p>
          <p class="comment-info"><%= comment.content%></p>
        </div>
      <% end %>
    </div>
    <% unless @event.comments.present?%>
      <div class='event-none'>
        コメントはありません
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div class="comment-form">
        <%= form_with model: [@event, @comment], id: "comment-form" do |f| %>
          <%= f.text_area :content , class: "comment-content"%>
          <p class="comment-warn">
            相手のことを考え,丁寧なコメントを心がけましょう。
          </p>
          <%= f.submit "comment", class: "comment-btn" %>
        <% end %>
      </div>
    <% end %>
    <% unless user_signed_in? %>
      <div class="space"></div>
    <% end %>
  </div>
  <%# /コメント機能 %>
</div>

<%= render "shared/footer" %>
